.cover-container {
  display: flex;
  align-items: center;
  height: 25vh;
}

.cover-info {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-between;

  & > .btn-settings {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    // width: 5rem;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    & > p {
      margin: 0;
      margin-left: 4px;
    }
  }
}

.user-date {
  & > h1 {
    color: white;
    margin: 0;
  }

  & > h3 {
    color: white;
    margin: 0;
    opacity: 0.7;
  }
}
