.div-hidden {
  display: none;
}

.theme-selected {
  border: black solid 2px;
}

.exterior-container {
  width: 70vw;
  margin: auto;

  & > .inner-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;

    & * {
      margin: 5px 0;
    }

    & > input {
      width: calc(35vw / 3);
      padding: 5px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      background-color: #edf1f8;
      outline: none;
    }

    & > .close-btn {
      width: calc(35vw / 4);
      align-self: flex-end;
      border-radius: 5px;
      padding: 5px 2px;
      background-color: white;
      font-size: 0.9rem;
    }

    & > .themes-container {
      display: flex;
      flex-wrap: wrap;

      & div {
        width: 20px;
        height: 20px;
        margin: 5px;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
      }

      & > #defaultBlue {
        background-color: #294168;
      }

      & > #green {
        background-color: #2b9264;
      }

      & > #blue {
        background-color: #59a4ea;
      }

      & > #red {
        background-color: #f24c38;
      }

      & > #purple {
        background-color: #8065dc;
      }

      & > #orange {
        background-color: #e96f1e;
      }

      & > #violet {
        background-color: #5f6be1;
      }

      & > #yellow {
        background-color: #de9c22;
      }
    }
  }
}
