.task-container {
  margin: 3px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid red;
  // background-color: red;
  // border: 2px solid red;
  // border-radius: 5px;

  & > .btns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  & > p {
    margin: 0;
    background-color: red;
    overflow: hidden;
    padding: 3px;
    border-radius: 5px;
  }
}
