.todo-column-container {
  //   position: absolute;
  width: 35rem;
  min-height: 15rem;
  background-color: snow;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  & > .todo-title-container {
    display: flex;
    justify-content: space-between;

    & > .todo-title {
      margin: 0;
    }
  }

  & > h3 {
    margin: 0;
  }
}
