.title-box {
  text-align: center;
  padding: 60px 0;
  background-color: #294168;
  display: flex;
  flex-direction: column;

  & > .welcome-title {
    color: white;
    margin: 0;
  }

  & > p {
    color: white;
    margin: 1.5rem 0 0;
  }
}

.welcome-form-box {
  position: relative;
  display: flex;
  justify-content: center;
}
