.title-box {
  height: 25vh;
  text-align: center;
  padding: 80px 0;
  background-color: #294168;

  & > .welcome-title {
    color: white;
    margin: 0;
  }
}

.welcome-form-box {
  position: relative;
  display: flex;
  justify-content: center;
}
